//@import "config.scss";

.automation {
    padding-top: 70px;
}

.automation__content {
    background-color: $black;
    
    @include medium {
        height: 500px;
    }
}

.automation__title {
    padding-top: 50px;
    text-align: center;
    color: $white;

    @include medium{
        text-align: left;
        padding: 150px 0px 0px 100px;
    }
}

.automation__text {
    text-align: center;
    padding-top: 70px;
    color: $white;

    @include medium{
        text-align: left;
        padding-left: 100px;
        width: 600px;
    }
}

.automation__video {

    video {
        width: 100%;
    }

    @include medium {
        position: relative;
        
        video {
            width: 90%;
            bottom: 0%;
            @include centerX;
        }
    }
    
    @include large {
        
        video {
            max-width: 1500px;
        }
    }
}

.automation__black {
    
    @include medium {
        background-color: $black;
        height: 150px;
    }
    
    @include large {
        height: 365px;
    }
}

.automation__white {
    @include medium {
        background-color: $white;
        height: 300px;
    }
    
    @include large {
        height: 420px;
    }
}
