//@import "config.scss";

.features {

    @include medium {
        padding-top: 190px;
    }
}

.features__block {

    @include medium{
        display: flex;
        width: 100%;
        height: 440px;

        &:first-child {
            flex-direction: row-reverse;
        }

        &:last-child {
            padding-left: 100px;
        }
    }
}

.features__content {

    @include medium {
        width: 57%;
        position: relative;
    }
}

.features__img {
    text-align: center;
    padding: 30px 0px;
    
    img {
        transform: rotate(180deg);
        min-width: 220px;
        max-width: 320px;
    }

    @include medium {
        display: flex;
        width: 43%;

        img {
            padding-right: 55px;
            align-self: flex-start;
            transform: rotate(-90deg);
        }
    }

    @include large {

        img {
            max-width: 450px;
        }
    }
}

.features__title {
    padding-top: 70px;

    @include medium {
        position: relative;
    }
}

.features__bar-one, .features__bar-two {
    display: none;
    height : 5px;
    position: absolute;

    @include medium{
        display: block;
    }
}

.features__bar-one {
    transform: rotate(180deg) translateX(-50%);
    left: -7%;
    top: 50%;

}

.features__bar-two {
    @include centerY;
    right: -7%;
}

.features__line {
    width: 100px;
    height: 1px;
    background-color: #8d8d8d;
    @include centerY;
    margin-left: 5px;
}

.features__circle {
    border-radius: 50%;
    border: 1px solid #8d8d8d;
    width: 5px;
    height: 5px;
    @include centerY;
}

.features__text {
    padding-top: 60px;
    color: $black;
}



