@import "reset.scss";
@import "config.scss";
@import "menu.scss";
@import "intro.scss";
@import "performances.scss";
@import "features.scss";
@import "automation.scss";
@import "sensors.scss";
@import "security.scss";
@import "motor.scss";
@import "personalise.scss";
@import "ecranTactile.scss";
@import "footer.scss";
