//@import 'config.scss';
.menu {
    position: fixed;
    height: 48px;
    width: 100%;
    background: $black;
    z-index: 2;
    transition: background 0.3s;
    .container {
        height: 100%;
    }
    @include medium {
        background: none;
        height: 80px;
    }
    @include large {
        height: 100px;
    }
}

.menu__content {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
}

.menu__burger {
    width: 20px;
    height: 3px;
    background-color: $white;
    @include centerY;
    right: 0px;
    &:before {
        content: "";
        position: absolute;
        top: 7px;
        width: 20px;
        height: 3px;
        background-color: $white;
    }
    &:after {
        content: "";
        position: absolute;
        top: -7px;
        width: 20px;
        height: 3px;
        background-color: $white;
    }
    @include medium {
        display: none;
    }
}

.menu__link {
    color: $white;
    height: 100%;
    a {
        text-transform: uppercase;
        font-size: 13px;
        &:not(first-child) {
            display: none;
            @include medium {
                display: block;
            }
        }
        &:first-child {
            width: 110px;
            height: 100%;
            display: inline-block;
        }
        &:last-child {
            position: relative;
            background-color: $red;
            color: $white;
            font-weight: $font-bold;
            letter-spacing: 2px;
            box-shadow: 1px 10px 38px 0px rgba(0, 0, 0, 0.4);
            width: 175px;
            height: 45px;
            @include medium {
                display: block;
            }
        }
        .menu__logo--small {
            @include centerY;
            width: 30%;
            max-width: 85px;
            @include medium {
                display: none;
            }
        }
        .menu__logo--large {
            display: none;
            @include centerY;
            width: 10%;
            @include medium {
                display: block;
            }
        }
    }
    @include medium {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.button__content {
    position: absolute;
    @include centerXY;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .button__animation {
        position: absolute;
        width: 100%;
        height: 101%;
        background-color: $white;
        transform: translateX(101%);
        transition: all 0.3s ease;
    }
    .button__text {
        position: absolute;
        @include centerXY;
    }
}

.menu__link a:last-child {
    &:hover {
        color: $red;
        .button__animation {
            transform: translateX(0%);
        }
    }
}