
.performances {
    padding: 70px 0px 70px 0px;
    background-color: $black;

    .container {
        position: relative;
    }

    @include medium {
        padding: 0;
        padding-top: 150px;
    }
}

// SCROLL

.performances__scroll{
    @include centerX;
    top: -135px;

    @include medium {
        top:-30%;
        left: 40px;
        transform: inherit;
    }
}

.performances__circle {
    border-radius: 50%;
    border: 2px solid $white;
    width: 12px;
    height: 12px;
}

.performances__line {
    @include centerDiv;
    width: 1px;
    height: 100px;
    border-left: 2px solid $white;
}

// CONTENT

.performances__block {
    display: flex;
}

.performances__img {
    display: none;

    @include medium {
        position: relative;
        width: 45%;
        display: block;

        img {
            position: absolute;
            right: 0%;
            bottom: -8%;
            height: 100%;
            box-shadow: 4px 5px 77.28px 14.72px rgba(0, 0, 0, 0.21); 
        }
    }
}

.performances__content {
    text-align: center;

    @include medium {
        height: 800px;
        padding: 130px 0px 0px 70px;
        text-align: left;
        width: 55%;
    }
}

.performances__title {
    padding-bottom: 50px;
    color: $white;
}

.performances__text{
    color: $white;
}

