//@import "config.scss";

.security {
    padding: 70px 0px 70px 0px;
    background-color: $black;

    @include medium {
        padding: 100px 0px;
    }

    @include large {
       padding: 100px 0px;
    }
}

.security__block {

    @include medium {
        display: flex;
    }
}

.security__content {

    @include medium {
        width: 50%;
        padding: 0px 20px 0px 80px;
    }

    @include large {
        padding-left: 100px;
    }  
}

.security__img {

    display: none;

    @include medium {
        display: block;
        position: relative;
        width: 50%;

        img {
            position: absolute;

            &:nth-child(1) {
                bottom:20%;
                right: 0%;
                width: 100%;
                max-width: 500px;
            }

            &:nth-child(2) {          
                top: 70%;
                right: 0%;
                width: 130%;
                max-width: 750px;
            }
        }
    }

    @include large {

        img {
            &:nth-child(1) {
                bottom:-10%;
                max-width: 659px;
            }

            &:nth-child(2) {          
                top: 80%;
                max-width: 994px;
            }
        }
    }
}

.security__title {
    text-align: center;
    padding: 40px 0px;
    color: $white;

    @include medium {
        padding: 100px 40px 40px 40px;
        text-align: left;
    }  

}

.security__text{
    text-align: center;
    color: $white;
    padding: 0px 40px;

    @include medium {
        padding-bottom: 200px;
        text-align: left;
    }  
}



